/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  height: 100%;
  line-height: 1.17;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  background-color: inherit;
  font-family: 'Garamond Premr Pro', Fallback, sans-serif;
  font-weight: 100;
  font-size: 2.65vw; }
  @media screen and (max-width: 1280px) {
    html {
      font-size: 34px; } }

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers (opinionated).
   */
body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  display: block;
  background: #0c3520; }
  body * {
    font-weight: 100;
    margin: 0 auto;
    padding: 0;
    color: inherit;
    background-color: inherit;
    padding: 0;
    text-decoration: none;
    color: inherit;
    font-size: inherit; }
    body *.active {
      display: block; }
  body:focus {
    outline-color: rgba(0, 0, 0, 0) !important; }
  body ::selection {
    background: #0c5324;
    /* WebKit/Blink Browsers */
    color: #ffffff;
    opacity: 1; }
  body ::-moz-selection {
    background: #0c5324;
    color: #ffffff;
    opacity: 1; }
  body.scroll-pause {
    overflow-y: hidden;
    overflow: hidden;
    position: fixed; }

/**
   * Add the correct display in IE 9-.
   */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

nav [aria-current=page] {
  color: #000;
  opacity: 0.4; }

nav a:hover,
nav a:focus,
nav li:hover {
  color: #000000;
  background-color: #fff;
  opacity: 0.4;
  border: none; }

a {
  text-decoration: none; }
  a:hover {
    border-bottom: .01em solid #000000; }

ul {
  list-style: none;
  padding: 0; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
/* Grouping content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   * 1. Add the correct display in IE.
   */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
   * Add the correct margin in IE 8.
   */
figure {
  margin-bottom: 1em; }

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * 1. Remove the gray background on active links in IE 10.
   * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
   */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
   * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
   */
b,
strong {
  font-weight: inherit; }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font style in Android 4.3-.
   */
dfn {
  font-style: italic; }

/**
   * Add the correct background and color in IE 9-.
   */
mark {
  color: #000; }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
audio,
video {
  display: inline-block; }

/**
   * Add the correct display in iOS 4-7.
   */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
   * Remove the border on images inside links in IE 10-.
   */
img {
  border-style: none;
  max-width: 100%; }

/**
   * Hide the overflow in IE.
   */
svg:not(:root) {
  overflow: hidden; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers (opinionated).
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: none;
  background-repeat: no-repeat;
  outline: none; }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
   *    controls in Android 4.
   * 2. Correct the inability to style clickable types in iOS and Safari.
   */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  border: 1px solid #000000;
  -webkit-appearance: button;
  /* 2 */
  width: fit-content; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * 1. Add the correct display in IE 9-.
   * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
   * Remove the default vertical scrollbar in IE.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10-.
   * 2. Remove the padding in IE 10-.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in IE 9-.
   * 1. Add the correct display in Edge, IE, and Firefox.
   */
details,
menu {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Scripting
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
canvas {
  display: inline-block; }

/**
   * Add the correct display in IE.
   */
template {
  display: none; }

input {
  padding-bottom: 0.4em;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0;
  width: 100%; }
  input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000;
    opacity: 1;
    /* Firefox */ }
  input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000000; }
  input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000000; }

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
  -moz-appearance: checkbox;
  display: inline-block; }

input[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
  -moz-appearance: radio;
  display: inline-block; }

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus,
input[type="number"]:active,
input[type="number"]:focus-within,
input[type="number"]:visited,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none; }

/* Hidden
     ========================================================================== */
/**
   * Add the correct display in IE 10-.
   */
[hidden] {
  display: none; }

/* Fonts
     ========================================================================== */
@font-face {
  font-family: 'Garamond Premr Pro';
  src: url("../fonts/GaramondPremrPro-Capt.otf"); }

@font-face {
  font-family: 'Garamond Premr Italic';
  src: url("../fonts/GaramondPremrPro-ItCapt.otf"); }

@font-face {
  font-family: 'Robinsons Gothic Regular';
  src: url("../fonts/RobinsonsGothic2-Regular.otf"); }

/* General
     ========================================================================== */
h1 {
  font-size: 1rem;
  text-transform: lowercase;
  font-variant-caps: small-caps;
  font-variant: small-caps; }

h2 {
  font-size: 1rem;
  text-transform: lowercase;
  font-variant-caps: small-caps;
  font-variant: small-caps; }

h3 {
  font-size: 0.647rem; }

p {
  font-size: 0.412rem; }

nav li {
  font-size: 0.471rem;
  text-transform: lowercase;
  font-variant-caps: small-caps;
  font-variant: small-caps; }

small, footer li, .small {
  font-size: 0.353rem; }

#wrapper {
  background-color: #ffffff;
  overflow: hidden; }

main {
  min-height: calc(100vh - 4.147rem);
  padding-top: 2.38rem;
  padding-bottom: 100px; }
  @media screen and (max-width: 1280px) {
    main {
      padding-top: 81px;
      min-height: calc(100vh - 141px); } }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.column {
  flex-basis: 100%; }

@media screen and (min-width: 800px) {
  .column {
    flex: 1; } }

@media screen and (min-width: 800px) {
  ._15 {
    flex: 1.5; }
  ._20 {
    flex: 2; }
  ._25 {
    flex: 2.5; }
  ._30 {
    flex: 3.3; }
  ._35 {
    flex: 3.5; }
  ._37 {
    flex: 3.75; }
  ._40 {
    flex: 4; }
  ._55 {
    flex: 5.5; }
  ._65 {
    flex: 6.5; }
  ._70 {
    flex: 7; }
  ._20 {
    flex: 2; }
  ._75 {
    flex: 7.5; } }

.inner-width {
  width: calc(100% - 2.94rem); }
  @media only screen and (max-width: 767px) {
    .inner-width {
      width: calc(100% - 30px); } }

.row.center {
  align-items: center;
  text-align: center; }

.img-padding img {
  border: 2rem solid #ffffff; }

.italic {
  font-family: 'Garamond Premr Italic'; }

#intro h1, #intro h3 {
  text-align: center; }

#intro h1 {
  padding: 2.735em 0; }

#intro .row {
  max-width: 733px; }

#intro h3 {
  padding-bottom: 2em; }

.small-caps {
  text-transform: lowercase;
  font-variant-caps: small-caps;
  font-variant: small-caps; }

/* Product Grid
         ========================================================================== */
.product-grid h2 {
  text-align: center; }

.product-grid .row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr)); }
  @media only screen and (max-width: 800px) {
    .product-grid .row {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr)); } }
  .product-grid .row .column {
    padding: 0.25em;
    padding-top: 50px; }
    .product-grid .row .column .title {
      text-align: center;
      padding-bottom: 1em; }
    .product-grid .row .column .description {
      padding-bottom: 1em; }
    .product-grid .row .column .small {
      font-family: 'Robinsons Gothic Regular';
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.1em; }

/* Blog Grid
         ========================================================================== */
.blog-grid h2 {
  text-align: center; }

.blog-grid .row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr)); }
  @media only screen and (max-width: 1100px) {
    .blog-grid .row {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr)); } }
  @media only screen and (max-width: 600px) {
    .blog-grid .row {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); } }
  .blog-grid .row .column {
    padding: 1em;
    padding-top: 1em; }
    @media only screen and (max-width: 600px) {
      .blog-grid .row .column {
        padding: 0 0 1em 0; } }
    .blog-grid .row .column .title {
      text-transform: lowercase;
      font-variant-caps: small-caps;
      font-variant: small-caps;
      text-align: center; }
    .blog-grid .row .column .date {
      text-align: center;
      padding-bottom: 1em; }

/* Header and Navigation
      ========================================================================== */
header {
  font-size: 0.471rem;
  padding: 2em 0;
  border-bottom: 1px solid #000000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  min-height: 83.03px; }

nav ul {
  font-family: 'Garamond Premr Pro';
  letter-spacing: 0.12em;
  position: relative;
  font-variant-caps: small-caps;
  font-variant: small-caps; }
  nav ul * {
    cursor: pointer; }
  nav ul .internal-links {
    margin-right: 12px;
    float: left; }
  nav ul .social-links {
    margin-left: 12px;
    float: right; }
  @media only screen and (max-width: 1045px) {
    nav ul .social-links,
    nav ul .internal-links {
      display: none; } }

#home-button {
  border: none !important;
  opacity: 1 !important;
  width: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

/* Overlay
         ========================================================================== */
#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  opacity: 0;
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  /* Black background with opacity */
  z-index: 200;
  /* Specify a stack order in case you're using a different order for other elements */ }
  #overlay.active {
    display: flex;
    opacity: 1;
    -webkit-animation: fadeIN 0.4s forwards;
    /* Safari 4+ */
    -moz-animation: fadeIN 0.4s forwards;
    /* Fx 5+ */
    -o-animation: fadeIN 0.4s forwards;
    /* Opera 12+ */
    animation: fadeIN 0.4s forwards;
    /* IE 10+, Fx 29+ */ }
  #overlay form {
    max-width: 34vw;
    min-width: 12.79rem;
    font-size: 0.471rem;
    background-color: #ffffff;
    padding: 2.3125em; }
    @media only screen and (max-width: 600px) {
      #overlay form {
        min-width: 93vw; } }
    #overlay form .label-wrap, #overlay form .title {
      margin-bottom: 2em; }
      @media only screen and (max-width: 600px) {
        #overlay form .label-wrap, #overlay form .title {
          margin-bottom: 1em; } }
    #overlay form .title {
      font-size: 0.471rem;
      letter-spacing: 0.12em;
      text-transform: lowercase;
      font-variant-caps: small-caps;
      font-variant: small-caps; }
    #overlay form input {
      margin-bottom: 0.5em;
      text-align: center;
      font-family: 'Garamond Premr Pro'; }
    #overlay form [type="submit"] {
      margin-top: 1em;
      font-family: 'Garamond Premr Pro';
      width: 100%;
      margin-bottom: 5em;
      padding: 1.2125em;
      text-transform: lowercase;
      font-variant-caps: small-caps;
      font-variant: small-caps;
      cursor: pointer;
      letter-spacing: 0.12em; }
      @media only screen and (max-width: 600px) {
        #overlay form [type="submit"] {
          margin-bottom: 1em; } }
      #overlay form [type="submit"]:hover, #overlay form [type="submit"]:focus {
        background: #000000;
        color: #ffffff; }
    #overlay form .description {
      text-align: center;
      width: 100%; }
    #overlay form .overlay-close {
      padding-top: 2.3125em;
      width: 12px;
      cursor: pointer; }
      @media only screen and (min-width: 1280px) {
        #overlay form .overlay-close {
          width: 0.352rem; } }

/* Footer
         ========================================================================== */
footer.shop #logos {
  border-bottom: 1px solid #ffffff; }

footer #logos {
  padding-bottom: 0.794rem;
  border-bottom: 1px solid #000000; }
  footer #logos .column {
    max-width: 4.85rem;
    letter-spacing: 0.106rem; }
    footer #logos .column#thistle {
      margin-right: 0; }
    footer #logos .column#lighthouse {
      margin-left: 0; }
  footer #logos img {
    max-width: 1.676rem;
    padding-bottom: 0.441rem; }
  footer #logos .small {
    font-size: 0.265rem;
    font-family: 'Robinsons Gothic Regular'; }

footer #contentinfo {
  padding: 1.09rem 0 5.44rem 0; }
  footer #contentinfo ul {
    justify-content: center; }
    footer #contentinfo ul li {
      flex: 0 0 auto; }
      footer #contentinfo ul li:nth-child(1) {
        margin-right: 0.3em; }
      footer #contentinfo ul li:nth-child(2) {
        margin: 0; }
      footer #contentinfo ul li:nth-child(3) {
        margin-left: 0.3em; }
      @media screen and (max-width: 800px) {
        footer #contentinfo ul li:nth-child(1), footer #contentinfo ul li:nth-child(2), footer #contentinfo ul li:nth-child(3) {
          margin: auto; } }
  footer #contentinfo span {
    text-transform: lowercase;
    font-variant-caps: small-caps;
    font-variant: small-caps; }

/* Home
         ========================================================================== */
.home h3.small-caps {
  text-align: center;
  padding-bottom: 1em; }

section h2 {
  text-align: center; }

section.blockquote {
  padding: 7.35rem 0;
  max-width: 23.529rem; }
  section.blockquote h2 {
    padding-bottom: 1em; }

section .square {
  padding: 7.35rem 0;
  max-width: 17.647rem; }

section h2 {
  padding-bottom: 1em; }

section h3 {
  overflow: hidden;
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-shape-inside: polygon(0px 0px, 0 300px, 300px 300px); }

#logo {
  max-height: calc(100vh - 2.35rem);
  background-color: #0c3520;
  overflow: hidden; }
  #logo h1 {
    color: #ffffff;
    font-family: 'Robinsons Gothic Regular';
    font-size: 3.117rem;
    letter-spacing: 0.206rem;
    background: transparent; }
    @media screen and (max-width: 800px) {
      #logo h1 {
        font-size: 20vw; } }
  #logo .hero-text {
    background: transparent;
    text-align: center;
    position: absolute;
    overflow: hidden;
    max-width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100; }

.full-screen-video {
  height: 100vh;
  width: 100vw;
  overflow: hidden; }
  .full-screen-video video {
    opacity: 0;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation: fadeINvideo 28.7s 1.5s forwards;
    /* Safari 4+ */
    -moz-animation: fadeINvideo 28.7s 1.5s forwards;
    /* Fx 5+ */
    -o-animation: fadeINvideo 28.7s 1.5s forwards;
    /* Opera 12+ */
    animation: fadeINvideo 28.7s 1.5s forwards;
    /* IE 10+, Fx 29+ */
    height: 100%; }
    @media screen and (min-width: 2050px) {
      .full-screen-video video {
        width: 100%;
        height: auto; } }

#tagline h3 {
  text-align: center; }

#products,
#newsletterSignUp,
#pressNews {
  padding: 2.35rem 0; }

#about, #region {
  background-color: #0c3520;
  color: #ffffff; }

#newsletterSignUp {
  border-top: 1px solid #000000; }
  #newsletterSignUp p {
    text-align: center; }

/* Contact
         ========================================================================== */
.contact #contactinfo ul {
  flex-direction: column; }
  .contact #contactinfo ul li {
    padding-bottom: 0.5em; }
  .contact #contactinfo ul .title {
    text-transform: lowercase;
    font-variant-caps: small-caps;
    font-variant: small-caps; }

/* Shop
            ========================================================================== */
.shop {
  background-color: #000000;
  color: #ffffff; }
  .shop * {
    background-color: #000000;
    color: #ffffff; }

/* Terms, Privacy, Careers - Indexed Layout
           ========================================================================== */
.terms, .privacy, .careers {
  max-width: 21.55rem; }
  .terms .row, .privacy .row, .careers .row {
    border-top: 1px solid #000000;
    padding: 0.5em 0 1em 0; }
    .terms .row p, .privacy .row p, .careers .row p {
      padding-bottom: 1em; }
    .terms .row .title, .privacy .row .title, .careers .row .title {
      padding-right: 1.3em; }

/* Animations
           ========================================================================== */
@-webkit-keyframes fadeIN {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIN {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadeIN {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIN {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeINvideo {
  0% {
    opacity: 0; }
  4% {
    opacity: 1; }
  96% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes fadeINvideo {
  0% {
    opacity: 0; }
  4% {
    opacity: 1; }
  96% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-o-keyframes fadeINvideo {
  0% {
    opacity: 0; }
  4% {
    opacity: 1; }
  96% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeINvideo {
  0% {
    opacity: 0; }
  4% {
    opacity: 1; }
  96% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes fadeOUT {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes fadeOUT {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-o-keyframes fadeOUT {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOUT {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
